body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fcf0b5;
}


/* ---------------------------------------------------------- */


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
.card {
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    width: 380px;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Fundo branco */
    text-align: center; /* Centraliza o conteúdo */
}
.card img {
    width: 423px;
    margin-top: -85px;
    height: auto;
    border-radius: 25px;
}
.card-body {
    padding: 60px;
}
.card {
    font-family: inherit;
    font-size: 18px;
    background: linear-gradient(to bottom, #EEEEEE 0%,#eeeeee 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}
.card:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}
.card:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.card span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
}
.card svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
}
.card .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
}
.card:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
}
.card:hover svg {
    transform: rotate(45deg);
}
.card-text{
    position: relative;
    top: 55px;
    color:#544013;
}
.card-title{
    color: #544013;
}


/* ---------------------------------------------------------- */


.fotologo{
    background-image: url(../sprint3/img/fundo1.png);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 38px;
}
.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #544013;
    background-size: 400%;
    color: #fff;
    border: none;
}
.button:hover::before {
    transform: scaleX(1);
}
.button-content {
    position: relative;
    z-index: 1;
}
.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
}
.card-body {
    padding: 15px;
}

.card h5 {
    margin-bottom: 10px; /* Espaçamento inferior para o título */
}

.card p {
    font-size: 20px;
}

.card p img {
    width: 15%;
}

.card p a {
    margin-left: 120px;
}

.mostrarmais-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.mostrarmais {
    padding: 10px 20px;
    background-color: #544013;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.mostrarmais:hover {
    background-color: #3F6CF4;
}
